@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
body , html {
  margin: 0;
  overflow: hidden; 
  line-height: normal;
}
:root {
  --font-inter: Inter;
  --font-poppins: Poppins;
  --font-sarabun: Sarabun;
  --font-size-2xs: 11px;
  --font-size-sm: 14px;
  --color-white: #fff;
  --color-gray: rgba(0, 0, 0, 0.5);
  --color-forestgreen: #448e1f;
  --color-darkgray: #b1b1b1;
  --br-5xs: 8px;
}


